<% include partials/header.ejs %>


<div class="ui container">
    <h1 id="blogTitle"> <%=blog.title%> </h1>

    <img src="<%=blog.image%>">  
    <p> Submitted by <%=blog.author.username%> </p>
    <p> <%=blog.description%> </p>  
    <p> <%=blog.text%> </p>
    <a href="/blogs/<%=blog._id%>/edit"> <button> Edit Post </button> </a>
    <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST"> <button> Delete <%=blog.title%> </button> </form>
    <a href="/blogs/<%=blog._id%>/comments/new"> <button> New Comment </button> </a>
    
        <% blog.comments.forEach(function (comment) { %>
            <div class="commentGroup">
                    <p id="commentText">  <%=comment.text%> </p>
                    <p> Submitted by <%=comment.author.username %> </p>
                    <p> Created: <%=comment.created%> </p>
                    <form action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="submissions">                
                        <button class="ui button small"> Delete Comment </button>
                    </form>
                    <form action="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit" method="GET" class="submissions">                
                        <button class="ui button small"> Edit Comment </button>
                    </form>                     
            </div>
        <% }); %>
</div>      










<% include partials/footer.ejs %>